<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text" routerLink="/">Parts Bin</li>
      <li><a href="#" routerLink="/">Inventory</a></li>
      <li><a href="#" routerLink="/inventory/Integrated Circuits">Integrated Circuits</a></li>
      <li><a href="#" routerLink="/schematics">Schematics</a></li>
    </ul>
  </div>
  <!-- <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div> -->
</div>
